nav {
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 9999;
  }
  ul> li> a {
    color: #000000;
  }
  .logo {
    height: 64px;
  }
.bigcCartDD {
    max-height: calc(100vh - 52px - 16px);
    overflow-y: hidden;
    background-color: #fff;
    background-clip: padding-box;
    transition: .5s ease;
    padding: 4px 0 0;
    width: 350px;
    height: 450px;
    left: auto;
    text-align: left;
    position: absolute;
    box-shadow: 2px 2px 2px #000;
    padding: 8px;
    background-color: #fff;
    z-index: 1;
    right: calc(8% - 0px);
    color: #000;
    opacity: 0;
    visibility: hidden;
}
.noItemCartPopUpCSS {
    height: 50px;
    text-align: center;
}
.showCartDD {
    opacity: 1;
    visibility: visible;
}