nav {
  background-color: #1565c0;
}
.container {
  width: 90%;
}
.width25left {
  width: 25%;
  float: left;
}
.width25right {
  width: 25%;
  float: right;
}
.width50 {
  width: 50%;
  float: right;
}
.pageheader {
  margin-left:25%;
  margin-right: 25%;
  width:  50%;
  top: 30%;
  background-color: black;
  color: white;
  padding-left:3%;
  padding-right:3%;
  text-align: center;
  /* display: table-cell; */
  vertical-align: middle;
  height: 100%;
}
.topGap {
  width:100%;
  padding-top: 10%;
}
.header1 {
  text-decoration: underline;
  text-decoration-style: solid;
  text-underline-position: under;
  font-style: italic;
}
.productListContainer {
  margin-top: 25px;
}
/* .App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
} */
